<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            width: 200px;
            gap: 2px;
            margin: auto;
            margin-top: 2%;
        }
        .msg-flash {
            text-align: center;
        }
    </style>
</head>

<body>
    <!-- Exibir mensagens flash -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="msg-flash">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <form action="cadastrar" method="post">
        <label for="">Nome de Usuário</label>
        <input type="text" name="username">
        <label for="">Senha</label>
        <input type="text" name="password">
        <button>Enviar</button>
    </form>
</body>

</html>