<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <title>Login</title>
</head>

<body>
    <!-- Exibir mensagens flash -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="msg-flash">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <form action="login" method="post">
        <label for="">Nome de Usuário</label>
        <input type="text" name="username">
        <label for="">Senha</label>
        <input type="text" name="password">
        <button>Logar</button>
    </form>

    <div class="link_botao">
        <p>não tem cadastro, faça aqui em embaixo</p>
        <a href="/cadastrar_botao"><button>Cadastrar</button></a>
    </div>
</body>

</html>